* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: .14rem;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: .4rem;
  background: pink;
  text-align: center;
  line-height: .4rem;
  flex-shrink: 0;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-slide > img {
  width: 100%;
  height: auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
  height: .4rem;
  background: pink;
  text-align: center;
  line-height: .4rem;
}

.content {
  flex-grow: 1;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.content .text {
  width: 100%;
  position: relative;
}

.content .text:after {
  content: attr(up);
  width: 100%;
  height: .4rem;
  background: red;
  display: block;
  line-height: .4rem;
  position: absolute;
  bottom: -.4rem;
  left: 0;
}

.content .text:before {
  content: attr(down);
  width: 100%;
  height: .4rem;
  background: red;
  display: block;
  position: absolute;
  top: -.4rem;
  line-height: .4rem;
  left: 0;
}

.content .text ul {
  width: 100%;
}

.content .text ul li {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding: .1rem 0;
  vertical-align: center;
}

.content .text ul li img {
  width: 20%;
  vertical-align: middle;
}

.content .text ul li span {
  display: inline-block;
  position: relative;
  top: -50%;
}
